@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400&family=Lora:wght@400;700&family=Raleway:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-cafe: #4B3832;
    --cor-cafe-leite: rgba(175, 115, 0, 0.4);
    --cor-cta: #e8491d;
}

.header {
    height: 60px;
}
.header h1 {
    font: 600 2.3em 'Dancing Script', cursive;
    color: var(--cor-cafe);
    text-align: center;
    margin-top: 20px;
}

/* hero */

.hero {
    position: relative;
}
.bg-img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 160px;
    border-bottom: 1px solid azure;
}
#bg-coffe {
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0), 85%, rgba(255, 255, 255, 1)), url(img/cafe.jpg);
}
#bg-inner {
    background-image: url(img/interior.jpg);
}
#bg-tasting {
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0), 85%, rgba(255, 255, 255, 1)), url(img/provando-cafe.png);
}
#coffe-desc {
    width: 80%;
    background-color: rgba(240, 255, 255, 0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 14px;
    backdrop-filter: blur(3px);
    padding: 20px 10px;
}
#coffe-desc h2 {
    font: 600 28px 'Lora', serif;
    text-align: center;
    text-shadow: 1px 1px 1px var(--cor-cafe);
}
#coffe-desc p {
    font: 500 18px 'Raleway', sans-serif;
    text-shadow: 1px 1px 1px var(--cor-cafe);
    margin: 15px;
}

/* menu */

.menu > div {
    width: 80%;
    padding: 20px;
    margin: 20px auto;
    background-color: var(--cor-cafe-leite);
    box-shadow: 5px 5px 5px rgba(60, 40, 0, 0.3);
    border-radius: 15px;
    border: 1px solid black;
}
.menu #text-container {
    margin-top: 40px;
}
.menu #text-container h2 {
    font-family: 'Lora', serif;
    font-size: 28px;
    text-align: center;
    margin-bottom: 10px;
    text-shadow: 1px 1px 1px var(--cor-cafe);
}
.menu #text-container p {
    font-family: 'Raleway', serif;
    font-weight: 600;
    text-align: center;
}
.menu #btn-container {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-bottom: 40px;
}
.menu button {
    background-color: var(--cor-cta);
    padding: 5px 15px;
    border-radius: 20px;
    color: azure;
    font-size: 18px;
    border: 1px solid black;
    cursor: pointer;
    box-shadow: 1px 1px 1px black;
}
.menu button:hover {
    box-shadow: none;
}
.menu a {
    text-decoration: none;
    color: azure;
}

/* pdf */

#pdf {
    display: none;
    margin: 0;
    height: 95vh;
    width: 90vw;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    background-color: gray;
    align-content: end;
}
#pdf span {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
    color: azure;
    cursor: pointer;
}


/* about */

.about-bg {
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0), 85%, rgba(255, 255, 255, 1)), url(img/xicaras_cafe.jpg);
}
.about-container {
    width: 90%;
    padding: 20px;
    margin: 40px auto;
    background-color: var(--cor-cafe-leite);
    box-shadow: 5px 5px 5px rgba(60, 40, 0, 0.3);
    border-radius: 15px;
    border: 1px solid black;
}
.about-container h2 {
    font-family: 'Lora', serif;
    font-size: 28px;
    text-align: center;
    text-shadow: 1px 1px 1px var(--cor-cafe);
    margin-bottom: 10px;
}
.about-container h3 {
    font-family: 'Lora', serif;
    font-size: 20px;
    text-align: left;
    text-shadow: 1px 1px 1px var(--cor-cafe);
    margin-top: 10px;
    margin-bottom: 5px;
}
.about-container p {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 16px;
}
.about-container ul {
    list-style-position: inside;
}
.about-container #cafe-img {
    background: transparent url(img/interior.jpg) no-repeat center;
    background-size: cover;
    height: 160px;
    border-bottom: 1px solid azure;
    border-radius: 10px;
    margin: 10px 0;
}
.about-container #team-img {
    background: transparent url(img/equipe.jpg) no-repeat center;
    background-size: cover;
    height: 160px;
    border-bottom: 1px solid azure;
    border-radius: 10px;
    margin: 10px 0;
}

/* contact */

#form {
    width: 80%;
    padding: 20px;
    margin: 40px auto;
    background-color: var(--cor-cafe-leite);
    box-shadow: 5px 5px 5px rgba(60, 40, 0, 0.3);
    border-radius: 15px;
    border: 1px solid black;
}
#form h2 {
    font-family: 'Lora', serif;
    font-size: 28px;
    text-align: center;
    margin-bottom: 10px;
    text-shadow: 1px 1px 1px var(--cor-cafe);
}
.input-label {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 18px;
    display: block;
    text-align: center;
    border: black;
    border-radius: 15px;
}
.input-label * {
    display: block;
    margin: 3px auto 8px;
    padding: 3px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid black;
    width: 90%;
}
#submit-btn-container {
    display: flex;
    justify-content: flex-end;
    padding: 0 10px;
    margin-top: 5px;
}
#submit-btn {
    padding: 5px;
    border-radius: 15px;
    display: block;
    border: 1px solid black;
    cursor: pointer;
    box-shadow: 1px 1px 1px black;
}
#submit-btn:hover {
    box-shadow: none;
}

/* address */

.address {
    padding: 10px 10px 5px;
    background-color: var(--cor-cafe);
}
.address > div {
    display: flex;
    margin: 5px 10px;
    justify-content: space-between;
}
.address > div > * {
    color: azure;
    text-decoration: none;
}
.address span {
    transform: translateY(-25%);
    cursor: pointer;
}
.address span:hover {
    color: rgb(0, 165, 165);
}

@media screen and (min-width: 760px) {
    .header h1 {
        font-size: 2.5em;
        text-shadow: 1px 2px 0px var(--cor-cafe);
    }
    #coffe-desc {
        width: 60%;
    }
    #coffe-desc p {
        font-size: 22px;
    }
    #form {
        width: 60%;
    }
}

@media screen and (min-width: 1200px) {
    .header {
        height: 80px;
    }
    .header h1 {
        font-size: 3em;
    }
    .bg-img {
        height: 260px;
    }
    #coffe-desc {
        width: 50%;
    }
    .menu {
        padding: 30px 0 40px;
    }
    .menu > div {
        width: 50%;
    }
    .about-container {
        width: 70%;
    }
}